
*{
    margin:0; 
    padding: 0; 
    box-sizing:border-box;
}

html, body {
    width: 100%;
    height: 100%
}

/*BG*/
body{
    background:url(../Imagens/cenario02.png) fixed;
    background-size: cover;
    background-repeat: no-repeat; 
}

/*HEADER*/
.home{ 
    display: block;
    text-align: center; 
    padding: 10px;
    position: relative;
}

.buttonhome{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
/*MIOLO*/
.miolo{ 
    height: 572px;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    background-image:url( ../Imagens/Ativo\ 3.png);
    background-size: 915.25px 680px ; 
    background-repeat: no-repeat;
    background-position: center; 
}
.caixainicio{
    height: 550px; 
    width: 715px;
    display: inline-flex;
    justify-content: center;
}

.texto {
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align:center;    
} 

em{
    font-size: 14px;

}
.persona {
    flex-wrap: wrap; 
}
.hermspic{
    float: left;
    align-content: center;
    height: 300px; 
    width: auto;
}

.joanapic{
    float: left;
    align-content:center;
    height: 400px; 
    width: auto ;
}

.botao{
 padding: 5px;
 text-decoration: none;
 width: 300px;
 height: 50px;
 background-color: #dd563f;
 border-radius: 10px;
 border: none;
 font-family: "Montserrat";
}

.botao a{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
/* FOOTER */
.footer{
    background:#5e5e5e;
    padding: 10px; 
    color: white;
    font-family: "Montserrat";
    text-align:center;
    font-size: small;
    position:absolute;
	height: 30px;
    bottom:0;
	width: 100%;
}


